/* Made the background color for every page complimentary */
body {
    background: cadetblue;
}

/* Centered all text on card footers */
.card-footer {
    text-align: center;
}

/* Made the link color on all card footers white */
.sociallink {
    color: white;
}

/* Centered all text on card body */
.card-body {
    text-align: center;
}

/* Centered and formatted all place holder images */
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
}

@media only screen and (max-width: 595px) {
    #PortfolioImg {
        clear: both;
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 75%;
        height: 75%;
    }
}

@media only screen and (max-width: 790px) {
    #PortfolioImg2 {
        clear: both;
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 75%;
        height: 75%;
    }
}

@media only screen and (max-width: 1030px) {
    #check {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 50%;
        height: 50%;
    }
}
