body {
    background: cadetblue;
}

.card-footer {
    text-align: center;
}

.sociallink {
    color: white;
}

button {
    text-align: center;
}

#sidewalk {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }