body {
    background: cadetblue;
}

.card-footer {
    text-align: center;
}

.sociallink {
    color: white;
}

.card-body {
    text-align: center;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
}
